# Root URL of the resolver, without trailing /, and with scheme.
BASE_URL = "{{base_url}}"

DATABASE_HOST = "localhost"
DATABASE_USER = "{{database_user}}"
DATABASE_PASS = "{{database_pass}}"
DATABASE_NAME = "{{database_name}}"

DB_USE_SSL = "0"

SECRET_KEY = "600723b9541d12762c816fe6b8fbad14"
SALT = "eeafd5820f6f0d99b58b7090bc950742"
